Case insensitve compare of HTTP header field names

**Is your feature request related to a problem? Please describe.**
Please have case-insensitive extraction and comparison of HTTP header fields names thereby making glewlwyd standards compliant in this respect.

**Describe the solution you'd like**
We use haproxy in front of our services and it folds header names to lower case making it easy for use to work with fields but impossible for glewlwyd to extract x-forwarded-for values for our ip-blocker. Would you consider a case-insensitive extraction and comparison of http headers?
We could use the functionality when writing our WAF rules.

**Describe alternatives you've considered**
We either modify the code [around here](https://github.com/babelouest/glewlwyd/blob/fc59053f06a4bd91c24df6eeccbf86a32c6ef28e/src/misc.c#L78) changing **u_map_get** to **u_map_get_case** or perform header rewrite on the proxy server if this request cannot be handled within this project. Our preference of course is for glewlwyd to move closer to standards compliance.

**Additional context**
Per [section 3.2 of RFC7230 ](https://tools.ietf.org/html/rfc7230#section-3.2) Each header field consists of a case-insensitive field name followed by a colon (":"), optional leading whitespace, the field value, and  optional trailing whitespace. 


Hello @a1730 

The bug has been fixed in https://github.com/babelouest/glewlwyd/commit/c5344ec9d81959d7f81845091e806fef6e4276b6
It will be available in the next release.